extends layout 
block content 
 h3 Welcome to our Alumni Management System—an exclusive space for reconnecting, networking, and celebrating shared experiences with fellow graduates. Dive into this vibrant community, stay updated on institution news, and contribute to the ongoing success of our alma mater. Your presence enriches our shared journey. Welcome back!
