doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title ALUMNI MANAGEMNET SYSTEM
  style.
    body
    {
    background-color: rgb(191, 203, 202);
    margin: 0 15% 0 15%;
    font-family: sans-serif;
    }
    h1
    {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #59b7ce;
    margin-top: 30px;
    }
    img
    {
    size: 50px;
    }
    footer
    {
    background-color: gray;
    text-align: center;
    border-bottom: 30px;
    }
    .top-nav{
    background-color: rgb(21, 21, 240);
    overflow: hidden;
    }
    .top-nav a{
    float: left;
    color: rgb(235, 236, 238);
    padding: 16px 16px;
    text-decoration: none;
    }
h1
  img(src="images/sabrina.jpg" alt='Logo')
  br
  | ALUMNI MANAGEMNET SYSTEM
.top-nav
  a(href='/index') Home
  a(href='/contact') Contact
  a(href='/about') About
  a(href='/login') Login
block content 
footer Copyright Tungamalenga @2024
